.quantity-selector {
    display: contents;
}

.dropdown-button {
    font-weight: bold;
    cursor: pointer;
}

.dropdown-arrow {
    color: rgb(212, 58, 205);
}

.dropdown {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    list-style: none;
    text-align: center;
    background-color: black;
    color: white;
    z-index: 200;
    transition: transform 0.3s ease-out;
}

.dropdown li {
    border: 1px solid rgba(255, 255, 255, 0.418);
    padding: 10px 5px;
}

.dropdown li:hover {
    background-color: rgb(94, 9, 128);
    color: white;
}

.apply-quantity-button {
    margin-left: 10px;
    border: 1px solid rgb(94, 9, 128);
    border-radius: 35px;
    padding: 10px 15px;
    background-color: black;
    color: white;
}

.apply-quantity-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.close-dropdown {
    transform: translateY(100%);
}

@media (min-width: 499px) {
    .backdrop {
        display: none;
    }

    .quantity-selector {
        position: relative;
        display: inline-grid;
        margin-top: auto;
    }

    .dropdown {
        left: auto;
        bottom: auto;
        width: 500%;
        z-index: 200;
        position: absolute;
        list-style: none;
        text-align: center;
        margin: 30px 0 0 -110px;
        background-color: white;
        color: black;
    }

    .dropdown li {
        border: 1px solid rgb(0, 0, 0);
        padding: 10px 5px;
    }
    
    .dropdown li:hover {
        background-color: rgb(94, 9, 128);
        color: white;
    }

    .open-dropdown {
        transform: none;
        position: absolute;
    }

    .close-dropdown {
        transform: none;
        display: none;
    }

    .custom-quantity-selector {
        width: 100%;
    }

    .custom-quantity-selector input {
        width: 50%;
    }

    .apply-quantity-button {
        padding: 2px 6px;
    }
}

