.Button {
    border: 1px solid black;
    border-radius: 5%;
    background-color: white;
    color: black;
    padding: 5px 16px;
    cursor: pointer;
    align-items: center;
}

.Button:hover {
    background-color: rgb(94, 9, 128);
    color: white;
}