.menu {
    font-size: small;
    display: flex;
    align-items: center;
    list-style: none;
    flex-flow: column;
    padding: 0;
}

hr {
    height: 1px;
    background-color: rgb(218, 211, 211);
    border: none;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    height: 11%;
}

.menu-wrapper {
    display: flex;
}

.login {
    color: white;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: .175em;
    text-transform: uppercase;
    font-size: small;
    display: flex;
    justify-content: space-between;
    margin: 5px 11px 18px 11px;
}

.user-logo {
    color: white;
    height: 15px;
    width: 15px;
}

.user-logo .fa-user {
    max-height: 100%;
    max-width: 100%;
}