.category-wrapper {
    padding: 16px 20px 16px 50px;
}

.category-items {
    margin-top: 10px;
}

.products-wrapper {
    max-width: 100%;
}

.product-filter {
    margin: auto;
    padding: 10px;
}

.product-filter .filter-button {
    max-width: 85%;
}

.product-filter .filter-button button {
    width: 100%;
}



@media (min-width: 499px) {
    .products-wrapper {
        display: flex;
    }

    .category-items {
        margin: auto;
        width: 80%;
        display: flex;
    }

    .product-filter {
        max-width: 30%;
    }

    .product-filter .filter{
        margin: 15px auto 10px 10px;
        background-color: white;
        border: 1px solid white;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
    }

}