.CartButton {
    position: relative;
    display: inline-block;
    margin: 0 10px;
}

.CartButton .Heart {
    margin: 10px;
}

.CartButton .Badge {
    position: absolute;
    top: 18px;
    right: -5px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: xx-small;
  }