.content {
    width: auto;
}

hr {
    height: 1px;
    background-color: rgb(218, 211, 211);
    border: none;
}

.item-section {
    height: 100%;
    width: auto;
}

/* BREADCRUMB */
.breadcrumb {
    display: none;
}

/* PRODUCT IMAGE */
.img-wrapper img {
    width: 100%;
}

/* PRODUCT INFO */
.item-section .item-info {
    margin: 10px 16px;
}

.item-section .item-code {
    font-size: smaller;
}

.item-section .item-stock {
    margin: 10px 0;
    width: 35%;
    text-align: center;
}

/* PRICE AND PRODUCT BUY */
.price-section {
    margin: 10px;
    border: 1px solid rgb(212, 206, 206);
    box-shadow: 0 1px 1px #585858;
    background-color: white;
}

.price-section .best-price-wrapper {
    display: flex;
    margin: auto;
    height: 80px;
    width: 80px;
}

.price-section .best-price-wrapper img {
    width: 100%;
    height: 100%;
}

.price-wrapper {
    margin: 10px;
}

.or-separator {
    margin: 10px 0;
    font-size: small;
    color: gray;
    width: 20%;
}

.price-finance {
    display: flex;
    align-items: baseline;
}

.finance-cards {
    display: flex;
    height: 30px;
    margin: 10px 0;
    align-items: center;
}

.finance-cards img {
    height: 100%;
    margin-left: 10px;
}

.product-buy {
    margin: 10px 0;
    padding: 16px 0;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add-cart-button {
    display: flex;
    align-items: center;
}

.cart-icon {
    margin-left: 5px;
}

@media (min-width: 499px) {
    .breadcrumb {
        display: flex;
    }

    .item-section {
        display: flex;
        justify-content: space-between;
        width: auto;
    }

    .img-wrapper img {
        height: 350px;
        width: 400px;
        margin-left: 200px;
    }

    .item-section .item-stock {
        width: 30%;
        max-width: 30%;
    }

    .price-section {
        width: 24%;
    }

    .product-buy {
        align-items: flex-end;
    }

    .add-cart-wrapper {
        margin-top: auto;
    }
}