.popup-content h3 {
    margin: 10px 0;
}

.login-form-section {
    margin: 10px 50px;
}

.login-form-section input {
    margin: 5px 0;
}

.popup-content button {
    margin: 10px 0;
}

.signup-section {
    margin: 10px 0;
}

.signup-section a {
    text-decoration: underline;
    margin-left: 10px;
    color: white;
}

.user-menu a {
    padding: 9px 93px;
    display: block;
    color: white;
    text-decoration: none;
}

.user-menu a:hover {
    background-color: rgba(85, 84, 84, 0.685);
}