.checkout-form {
    padding: 16px 20px 16px 20px;
}

.checkout-form .form-block {
    margin-top: 20px;
}

.checkout-form-fields {
    display: block;
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 2px 14px #585858;
    width: 94%;
    padding: 10px;
}

.form-fields {
    margin-left: 20px;
    max-width: 75%;
}

.form-fields input{
    margin: 10px 0;
    width: 100%;
}

.check-out-finance-cards {
    display: flex;
    height: 30px;
    margin: 10px 0;
    align-items: center;
}

.check-out-finance-cards img {
    height: 100%;
    margin-left: 10px;
    filter: grayscale(1);
}

.card-expirity-and-cvv {
    display: flex;
    margin: 10px -32px 0px 0px;
}

.card-expirity-and-cvv input::-webkit-input-placeholder {
    font-size: small;
}

.card-expirity-backslash {
    margin-top: 19px;
    font-weight: bold;
}

@media (min-width: 480px) {
    .checkout-form {
        display: flex;
    }

    .check-out-form-wrapper {
        display: block;
    }

    .checkout-form .form-block {
        width: 100%;
        display: block;
    }

    .form-fields input {
        margin: 10px 0;
        width: 46%;
    }

    .checkout-summary-wrapper {
        width: 40%;
        margin-top: 0px;
        position: sticky;
        position: -webkit-sticky;
        align-self: flex-start;
        top: 9rem;
    }

    .card-expirity-and-cvv {
        width: 30%;
    }
}